@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about Ezeji Udoka Akans.</p>
    

    <h2>Professional Summary</h2>

    <p>
        Decisive Backend Engineer with a solid background of success in troubleshooting and resolving complex software challenges. Designs and deploys innovative features to improve performance and functionality. Proactive problem-solver with exceptional critical thinking and collaboration skills.
    </p>
    

    <h2>Experience</h2>
    <ul>
        <li>
            Back End Developer at Sterling Bank, Jun 2023 - Present
        </li>
       
    </ul>

    <h2>Education</h2>
    <ul>
        <li>Bachelor's degree in Industrial Chemistry, Imo State University, 2012 - 2016</li>
        <li>Certificate in Computer Application to Business Transaction, UNIQUE COMPUTER INSTITUTE OWERRI, 2012</li>
    </ul>

    <h2>Technologies</h2>
    <ul>
        <li>C#</li>
        <li>ASP.NET Core</li>
        <li>Entity Framework</li>
        
    </ul>

    <h2>Certifications</h2>
    <ul>
        <li>Scrum Fundamentals Certified (SFC®) - SCRUMstudy, Oct 2022 - Nov 2022</li>
        
    </ul>
</div>